<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="fr"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="fr"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="fr"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">tipurpose
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Système de gestion Agilean/Agilog</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="static/assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <!--END HEAD SECTION -->
<body>   
     <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Serious game</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header-section">Accueil</a></li>
                    <li><a href="#services-section">Application</a></li>
                    <li><a href="#about-section">Notre equipe de projet</a></li>
                    <li><a href="#contact-section">Contactez-nous</a></li>
                </ul>
            </div>
           
        </div>
    </div>
     <!--END NAV SECTION -->
     <!-- HEADER SECTION -->
    <div id="header-section">
        <div class="container">
            <div class="row centered">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h1> <FONT COLOR=white> Bienvenue dans
                        <br />
                        <strong>l'interface de gestion Agilean/Agilog </strong>
                    </h1>
                    <h2><FONT COLOR=white> Serious game</h2>
                     <br />
                  <a href="#services-section">  <i class="fa fa-angle-double-down fa-5x color-blue "></i> </a>
                </div>
            </div>
           
        </div>
       
    </div> 
      <!--END HEADER SECTION -->
   
    <!-- SERVICES SECTION -->
   
      <div id="services-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <h1>Les services disponibles</h1>
                    <h4><FONT COLOR=blue> Choisissez l'interface que vous desirez !
                     </h4>

                </div>
            </div>
            <!-- ./ Main Heading-->
           
            <div class="row main-low-margin text-center">
                <div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.8s">
                   <a href="{{url_for('agilean')}}"><i class="glyphicon glyphicon-home fa-5x color-blue"></i></a>
                    <h3><a href="{{url_for('agilean')}}">Agilean</a></h3>
                </div>               
                <div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.8s">
                    <a href="{{url_for('agilog')}}"><i class="fa fa-truck fa-5x color-black"></i></a>
                    <h3><a href="{{url_for('agilog')}}">Agilog</a></h3>
                </div>
                <div class="col-md-4 col-sm-4" data-scrollreveal="enter right and move 100px, wait 0.8s">
                    <a href="{{url_for('client')}}"><i class="glyphicon glyphicon-briefcase fa-5x color-light-blue"></i></a>
                    <h3><a href="{{url_for('client')}}"> Client </a></h3>
                </div>
            </div>

        </div>
    </div>

    <!--END SERVICES SECTION -->
 <!--ABOUT SECTION -->
    <div id="about-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <h1>A propos de notre equipe</h1>
                    <h4>
                       Ce projet est réalisé dans le cadre de l'enseignement UEI: Excellence Opérationnelle. Il présente un outil de gestion pour le serious game.
                        Il est réalisé par les élèves ingénieurs :
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row main-low-margin text-center">
                <div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe4.png" alt="">
                    <h4>EL DACHRI Faissal</h4>
                    <p>
                        Expert métier - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>

                    </p>

                </div>
              <div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe1.png" alt="">
                    <h4>NAJID Omar</h4>
                    <p>
                        Chef de Projet - Elève ingénieur en 2ème année cycle d'ingénieur généraliste


                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        

                    </p>

                </div>
                <div class="col-md-4 col-sm-4" data-scrollreveal="enter right and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe2.png" alt="">
                    <h4>GAUTIER-SIMARD Siméon</h4>
                    <p>
                        Programmeur - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                     </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        
                    </p>

                </div>

<div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe5.png" alt="">
                    <h4>BECT Oscar</h4>
                    <p>
                        Web designer - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                     </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        
                    </p>

                </div>

                <div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe3.png" alt="">
                    <h4>ROUVIERE Mathieu</h4>
                    <p>
                        Web designer - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        

                    </p>

                </div>

<div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe6.png" alt="">
                    <h4>BRUGUIER Valentin</h4>
                    <p>
                        Web designer - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        

                    </p>

                </div>

<div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe7.png" alt="">
                    <h4>SALAZAR Rodrigo</h4>
                    <p>
                        Expert métier - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        

                    </p>

                </div>

<div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe8.png" alt="">
                    <h4>MONTESINO VALLE Ignacio</h4>
                    <p>
                        Programmeur - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        

                    </p>

                </div>

<div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.7s">
                    <img class="img-circle" src="static/assets/img/team/equipe9.png" alt="">
                    <h4>DUQUE ARIAS Daniel</h4>
                    <p>
                        Programmeur - Elève ingénieur en 2ème année cycle d'ingénieur généraliste

                    </p>
                    <p>
                       <a href="#"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        

                    </p>

                </div>


            </div>
              <!-- ./ Row Content-->
        </div>
    </div>
    <!-- END ABOUT SECTION -->
    <!--CONTACT SECTION -->
    <div id="contact-section">
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <h1>Contactez-nous</h1>
                    <h4>
                       Nous serons toujours à votre disposition, vos remarques et propositions nous intéressent !
                       
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row">
                <div class="col-md-12  col-sm-12 ">
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.8s">
                        <h3><i class="fa fa-tint"></i> Notre adresse </h3>
                        <hr />
                        <p>
                        Ecole Nationale Superieure d'Arts et Metiers,<br /> 
                        Centre d'Aix en Provence<br />                          
                        2, cours des Arts et Metiers
                        13617 Aix-en-Provence Cedex 01<br />
                       <A HREF="https://artsetmetiers.fr" target="_blank">Site Web des Arts et Metiers ParisTech</A>
                            </p>
                        <h3> Reseaux sociaux</h3>
                        <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                        
                    </div>
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.8s">
                        <h3>Vous avez besoin d'aide ? Ecrivez nous . </h3>
                        <hr />
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Adresse e-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8"  placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
             <!-- ./ Row Content-->
        </div>
    </div>  
    <!--END CONTACT SECTION --> 
    <!--FOOTER SECTION -->
    <div id="footer">
        <div class="container">
            <div class="row ">
                &copy; Année academique 2017/2018 Serious Game | Organiser-Excellence opérationnelle			
		
            </div>
            
        </div>
       
    </div>  
    <!--END FOOTER SECTION --> 
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="static/assets/js/jquery.js"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="static/assets/js/bootstrap.min.js"></script>
     <!-- SCROLL REVEL LIBRARY FOR SCROLLING ANIMATIONS-->
    <script src="static/assets/js/scrollReveal.js"></script>
       <!-- CUSTOM SCRIPT-->
    <script src="static/assets/js/custom.js"></script>
</body>
</html>
