<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Ajout de produit</title>
 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    
    <link href="assets/css/style.css" rel="stylesheet" />
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  </head>
<body>
<div class="row main-top-margin text-center">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
<h1>Formulaire d'ajout de produit</h1>
<h4>
Veuillez renseigner les informations ci-dessous
 </h4>
</div>
</div>
<form  method="post"  action="Insert.php">

Code du produit:  <input type="text" name="code_prd"  / >
<br><br>
Code de categorie :    <input type="text" name="code_cat"  />
<br><br>
Nom du produit: <input type="text" name="nom_prod"/> <br><br>
Prix: <input type="text" name="prix"/> <br><br>
Quantite: <input type="text" name="quantite"/> <br><br>
<input type="submit" value="Valider" />


</form>
<br><br><a href="index.html"> Retour a la page principale<a> <br><br>
</body>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Atelier de fabrication KMNO</a>
            </div>
</html>
