<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Client</title>
 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
    
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="static/assets/css/style.css" rel="stylesheet" />
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  </head>
<body>
<div class="row main-top-margin text-center">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
<h1>Bienvenue dans l'interface de lancement des ordres d'achat</h1>

<div class='contenu'>
	<div class="lp_table">
		<div class="lp_entetes">
			<div class="lp_entete">Reference qualite</div>
                        <div class="lp_entete">Ref_commande</div>
			<div class="lp_entete">Date de detection</div>
			<div class="lp_entete">Lieu de detection</div>
                        <div class="lp_entete">Description</div>
		</div>
		{% for commande in commandes %}
			<div class="lp_ligne">
				<div class="lp_cellule">{{ commande['ref_qualite'] }}</div>
				<div class="lp_cellule">{{ commande['Ref_commande'] }}</div>
				<div class="lp_cellule">{{ commande['Date_detection'] }}</div>
                                <div class="lp_cellule">{{ commande['Lieu'] }}</div>
				<div class="lp_cellule">{{ commande['Description'] }}</div>
			</div>
		{% endfor %}
	</div>
</div>

<h2> Veuillez entrer les données du problème qualité détecté</h2>


{% if msg!="" %}<strong>{{ msg }}</strong><br/><br/>{% endif %}
<form method='post' action='{{ url_for("qualite") }}'>
<label for='ref_cmd'>Reference commande</label><input type='text'  name='ref_cmd' value='{{ ref_cmd }}'>
<label for='lieu'>Lieu de détection</label><input type='text'  name='lieu' value='{{ lieu }}'>
<label for='description'>Description du problème</label><input type='text'  name='description' value='{{ description }}'>
<br>
<input type='submit' value='Enregistrer la déclaration'>

</form>
<p> Problème qualité réglé ? Entrez la reference de la commande que vous voulez réinjecter dans le stock</p>
{% if msg!="" %}<strong>{{ msg }}</strong><br/><br/>{% endif %}
<form method='post' action='{{ url_for("injecter_stock") }}'>
<label for='ref'>Reference commande</label><input type='text'  name='ref' value='{{ ref }}'>
<br>
<input type='submit' value='Réinjecter dans le stock de PF'>
</form>
</div>
</div>
</br>
</br>




<br>
<br/><br/><a href={{url_for('agilean')}}> Retour a l'interface AgiLean<a/>

</body>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Serious Game - Interface AgiLean</a>
            </div>
</html>
