<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Client</title>
 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
    
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="static/assets/css/style.css" rel="stylesheet" />
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  </head>
<body>
<div class="row main-top-margin text-center">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">
<h1>Bienvenue dans l'interface de reception de commandes</h1>

<h2> Voici la liste des commandes en attente de validation</h2>



<div class='contenu'>
	<div class="lp_table">
		<div class="lp_entetes">
			<div class="lp_entete">Reference commande</div>
			<div class="lp_entete">Date commande</div>
                        <div class="lp_entete">Date de livraison</div>
			<div class="lp_entete">Reference produit</div>
                        <div class="lp_entete">Options</div>
			<div class="lp_entete">Etat commande</div>
		</div>
		{% for commande in commandes %}
			<div class="lp_ligne">
				<div class="lp_cellule">{{ commande['ref_commande'] }}</div>
				<div class="lp_cellule">{{ commande['Date_commande'] }}</div>
                                <div class="lp_cellule">{{ commande['Date_livraison'] }}</div>
				<div class="lp_cellule">{{ commande['Ref_prod'] }}</div>
                                <div class="lp_cellule">{{ commande['ref_opt'] }}</div>
				<div class="lp_cellule">{{ commande['Etat_cmd'] }}</div>
			</div>
		{% endfor %}
	</div>
</div>


<p> Entrez la reference de la commande a receptionner </p>

{% if msg!="" %}<strong>{{ msg }}</strong><br/><br/>{% endif %}
<form method='post' action='{{ url_for("reception_commande") }}'>
<label for='ref_cmd'>Reference commande</label><input type='text'  name='ref_cmd' value='{{ ref_cmd }}'>
<br>
<input type='submit' value='Accuser la reception'>
</form>

</div>
</div>
</br>
</br>




<br>
<br/><br/>


<a href={{url_for('client')}}> Retour a la page client<a/>


</body>
<div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Serious Game - Interface Client</a>
            </div>
</html>
